body {
	background: #ffe;
	color: #800000;
	font-family: serif;
	font-size: 16px;
    padding-top: 50px;
}

nav {
	display: block;
}

header {
	display: block;
	text-align: center;

}

header div.subtitle {
	color: black;
	font-size: 10pt;
}

ul {
	display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    padding-inline-start: 40px;
}

#recent-posts ul {
    list-style-type: none;
}

nav.menu-bar ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
}

nav.menu-bar li {
	display: inline-block;
	float: none;
	box-shadow: 1px 1px 2px #a24f17cc;
	border-top: 2px solid #E28F91;
	border-left: 2px solid #E28F91;
    border-bottom: 2px solid #800509;
    border-right: 2px solid #800509;
}

nav.menu-bar li:not(:first-child) {
    margin-left: 15px;
}

nav.menu-bar li div.active {
	border-top: 1px solid #800509;
    border-left: 1px solid #800509;
    border-bottom: 1px solid #E28F91;
    border-right: 1px solid #E28F91;
}

nav.menu-bar li a, nav.menu-bar form {
	background-color: #AF0A0F;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    display: block;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    color: white;
    padding: 2px 3px;
    height: 15px;
    border: 1px outset #af0a0f;
    border-top: 1px solid #DA8E90;
    border-left: 1px solid #DA8E90;
    border-bottom: 1px solid #76070B;
    border-right: 1px solid #76070B;
}

nav.menu-bar button {
	all: unset;
}

nav.menu-bar {
	margin: 15px auto;
	text-align: center;
	max-width: 700px;
}

div.title h1 {
	font-size: 24px;
}

div.banwrap {
	margin: 15px auto !important;
    box-shadow: 0px 0px 3px rgb(162, 79, 23);
    background: #fca;
    max-width: 700px;
    border: 1px outset #fca;
    border-top: 1px solid #FFEFE5;
    border-left: 1px solid #FFEFE5;
    border-bottom: 1px solid #8d715e;
    border-right: 1px solid #8d715e;
}

div.ban {
	margin: 2px !important;
    box-shadow: inset 0px 0px 3px #4d4d4d7d;
    border: 1px inset #fca;
    border-top: 1px solid #8D715E;
    border-left: 1px solid #8D715E;
    border-bottom: 1px solid #FFEFE5;
    border-right: 1px solid #FFEFE5;
	background: white;
}

div.ban h2 {
	box-shadow: 0px 2px 2px -1px #8c8c8c7d;
    height: 20px;
    border: 1px outset #fca;
    border-top: 1px solid #FFEFE5;
    border-left: 1px solid #FFEFE5;
    border-bottom: 1px solid #8d715e;
    border-right: 1px solid #8d715e;
	padding: 3px 7px;
	font-size: 12pt;
	margin: 0;
	background: #fca;
}

footer {
	display: block;
    border-top: 1px solid #D9BFB7;
    padding-top: 2pt;
}

footer p {
	margin-top: 20px;
	text-align: center;
	font-size: 12px;
}

div.boardlist {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 0;
    padding-left: 5pt;
    padding-right: 5pt;
    z-index: 30;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    border-bottom: 1px solid;
    background-color: #F0E0D6;
    font-size: 12pt;
}

div.boardlist a {
    text-decoration: none;
    color: #800;
}

div.boardlist span.options {
    float: right;
}

div.boardlist span.options button {
    all: unset;
}

table.usertable {
    margin: auto;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    unicode-bidi: isolate;
    border-spacing: 2px;
    border-color: gray;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td {
    display: table-cell;
    vertical-align: inherit;
}

table.adminpanel tr th {
    background: #EA8;
    text-align: left;
    padding: 4pt 15pt 5pt 5pt;
    white-space: nowrap;
}

table.adminpanel tr td {
    text-align: left;
    margin: 0;
    padding: 4pt 15pt 0 0;
}

form.activeform {
    margin-bottom: 4em;
}

form.activeform h3 {
    text-align: center;
}

form.activeform table {
    margin: auto;
}

form.activeform table tr th {
    background: #EA8;
    border: 1px solid #000;
    text-align: left;
    padding: 4pt;
    font-size: 10pt;
}

input[type="text"], input[type="password"], textarea {
    background-color: #fff;
    color: #000;
    font-size: 10pt;
    border: 1px solid #a9a9a9;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    word-spacing: normal;
    max-width: 100%;
}

.hidden {
    display: none;
}

div.post.op {
    margin-right: 20pt;
    margin-bottom: 5pt;
}

div.post {
    padding-left: 20pt;
}

div.post div.postContent {
    clear: none;
    word-wrap: break-word;
    white-space: pre-wrap;
}

span.topic {
    color: #d00;
    font-weight: bold;
}

span.identifier {
    color: #117743;
    font-weight: bold;
}

span time {
    direction: ltr;
    white-space: pre;
}

span.postId {
    margin: 0;
    color: inherit;
}

div.post.reply {
    background: #f0e0d6;
    border-color: #d9bfb7;
    margin: 0.15em 4pt;
    padding: 0.2em 0.3em 0.5em 0.6em;
    border-width: 1pt;
    border-style: none solid solid none;
    display:inline-block;
    max-width: 90% !important;
}

div.post.reply div.body {
    margin-left: 1.8em;
    margin-top: 0.8em;
    padding-right: 1.8em;
    padding-bottom: 0.3em;
}

div.post div.body {
    margin-left: 1.8em;
    margin-top: 0.8em;
    padding-right: 1.8em;
    padding-bottom: 0.3em;
    word-wrap: break-word;
    white-space: pre-wrap;
}

hr {
    border-top: 1px solid #D9BFB7;
    height: 0;
    clear: left;
}

img.board_image {
    display: block;
    margin: 12px auto 0 auto;
}

img {
    overflow-clip-margin: content-box;
    overflow: clip;
}

.dropzone-wrap {
    width: 100%
}

.dropzone {
    background: none;
    color: #800000;
    cursor: default;
    margin: auto;
    padding: 0pt 4pt;
    text-align: center;
    min-height: 50pt;
    max-height: 140pt;
    transition: 0.2s;
}

.dropzone .file-hint {
    color: #80000080;
    border-color: #80000066;
    cursor: pointer;
    position: relative;
    margin-bottom: 10pt;
    padding: 10pt 0pt;
    top: 5pt;
    display: block;
    transition: 0.2s;
    border: 2pt dashed rgba(125, 125, 125, 0.4)
}

.dropzone #file-input {
    display: none;
}

.dropzone .tmb-container {
    padding: 3pt;
    overflow-x: hidden;
    white-space: nowrap;
}

.dropzone .remove-btn {
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    bottom: 10pt;
    position: relative;
    margin-right: 5pt;
    font-size: 20pt;
}

.dropzone .file-tmb {
    height: 40pt;
    width: 70px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    background-size: cover !important;
    background-position: center !important;
}

.dropzone .tmb-filename {
    display: inline-block;
    vertical-align: bottom;
    bottom: 12pt;
    position: relative;
    margin-left: 5pt;
}

.intro {
    padding: 0;
    padding-bottom: 0.2em;
    margin: 2px;
}

.file {
    margin-right: 2px;
    min-width: 200px;
    padding-bottom: 10px;
    float: left;
}

.fileinfo a {
    color: #0000ff;
}