{{template "header" .}}
    <div class="px-6">
        <h2 class="py-4 text-4x1 semibold tracking-tight">[actions]</h2>
        <ul>
            <li>
                <a href="/admin/users">[Manage users]</a>
            </li>
            <li>
                <a href="/admin/boards">[Manage boards]</a>
            </li>
        </ul>
    </div>
{{template "footer" .}}