{{template "header" .}}
    <div>
        {{template "boardList" .Boards}}
    </div>
{{template "footer" .}}

{{define "boardList"}}
    <h4>
        [boards] :
    </h4>
    <ul>
        {{range .}}
            <li>
                <a href="/{{.Uri}}">/{{.Uri}}/ - {{.Name}}</a>
            </li>
        {{end}}
    </ul>
{{end}}