{{template "header" .PageData}}

<div>
    {{.PageData.Topic}} :
    <ol>
        {{range .PageData.Posts}}
            <li>
                {{.Identifier}} [{{.PostTimestamp}}] Nr. {{.Id}} {{if .IsOP}} (OP) {{end}} : {{.Content}}
            </li>
        {{end}}
    </ol>
</div>

{{template "footer" .PageData}}